.entrar {
    background-color: rgb(8, 185, 8);
    color: aliceblue;
    border-radius: 30px;
    /*Placa verde da página de entrar na conta */
    border: 10px solid aliceblue;
    margin-top: 200px;
}

.EducaTransito {
    margin-left: 20%;
    /*Para o título ficar no meio da placa verde da página de entrar na conta*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.paginaEntrar {
    background-color: rgb(138, 196, 247);
    /* Cor de fundo padrão das páginas*/
}

.tituloDaPagina {
    background-color: #023859;
    /*Cor padrão EPTRAN*/
    margin-left: -10px;
    /*Padrão de título das páginas*/
    margin-right: -10px;
    margin-top: -22px;
    height: 50px;
}

.EducacaoTransito {
    margin-left: 10px;
    margin-top: 22px;
    /*Ajuste do título das páginas*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.botaoDeEntrar {
    background-color: rgb(57, 137, 241);
    border-radius: 30px;
    color: aliceblue;
    width: 50%;
    height: 40px;
    /*Estilo do botão de entar na conta*/
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.esqueceuSenha {
    color: aliceblue;
    margin-left: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.NaoPossuiConta {
    color: aliceblue;
    margin-left: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ferroDaPlaca {
    width: 10%;
    height: 200px;
    background-color: rgb(129, 129, 129);
    margin-left: 45%;
}

.asfalto {
    background-color: rgb(66, 65, 65);
    height: 75px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.caixaTexto {
    margin-left: 10%;
    width: 80%;
    /*Caixa de texto da página de entrar na conta*/
    height: 23px;
}

.emailSenha {
    margin-left: 20px;
    /*Título de pedido email e de senha*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ferroPalacaCategorias {
    width: 25%;
    height: 15px;
    background-color: rgb(129, 129, 129);
    margin-top: 30%;
    margin-left: -10px;
}

.placaPergunta {
    background-color: rgb(7, 160, 7);
    width: 60%;
    height: 120px;
    margin-left: 22%;
    /*Placa que pergunta ao usuário e qual categoria ele se encaixa*/
    margin-top: -60px;
    border-radius: 10px;
    border: 7px solid aliceblue;
}

.perguntaCategoria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    text-align: center;
    /*Ajuste da pergunta da placa*/
    margin-top: 25px;
    font-size: x-large;
}

.semaforo {
    width: 13%;
    height: 100px;
    background-color: #172229;
    margin-top: 25%;
    margin-left: 70%;
    border-radius: 5px;
    position: relative;
}

.ferroSemaforo {
    width: 19%;
    height: 15px;
    background-color: rgb(129, 129, 129);
    margin-left: 83%;
    margin-top: -50px;
    position: relative;
}

.semaforoVermelho {
    width: 35%;
    height: 20px;
    background-color: red;
    border-radius: 100px;
    /*Luz vermelha do semáforo*/
    margin-left: 33%;
    margin-top: 10px;
    position: absolute;
}

.semaforoAmarelo {
    width: 35%;
    height: 20px;
    background-color: rgb(255, 230, 0);
    border-radius: 100px;
    /*Luz amarela do semáforo*/
    margin-left: 33%;
    margin-top: 40px;
    position: absolute;
}

.semaforoVerde {
    width: 35%;
    height: 20px;
    background-color: rgb(0, 255, 42);
    border-radius: 100px;
    /*Luz verde do semáforo*/
    margin-left: 33%;
    margin-top: 70px;
    position: absolute;
}

.madeiraPlaca {
    width: 20px;
    height: 300px;
    background-color: rgb(153, 105, 50);
    border-radius: 10px;
    /*Madeira das placas da categorias*/
    margin-left: 50%;
    margin-top: 150px;
}

.placaLaranja {
    width: 40%;
    height: 60px;
    background-color: orange;
    margin-top: -280px;
    /*Placa das series iniciais*/
    margin-left: 25%;
    border-radius: 10px;
    position: relative;
}

.placaAmarela {
    width: 40%;
    height: 60px;
    background-color: rgb(255, 230, 0);
    margin-top: 10px;
    /*Placa das series finais*/
    margin-left: 40%;
    border-radius: 10px;
}

.placaVerde {
    width: 40%;
    height: 60px;
    background-color: rgb(115, 255, 0);
    margin-top: 10px;
    /*Placa do ensino médio*/
    margin-left: 25%;
    border-radius: 10px;
}

.seriesIniciais {
    margin-left: 20px;
    position: absolute;
    margin-top: 10px;
    /*Ajuste do titulo da placa laranja*/
    color: black;
    font-weight: bold;
}

.primeiroQuinto {
    margin-left: 30px;
    position: absolute;
    /*Ajuste do subtitulo da placa laranja*/
    margin-top: 30px;
}

.seriesFinais {
    margin-left: 20px;
    position: absolute;
    margin-top: 10px;
    /*Ajuste do titulo da placa amarela*/
    color: black;
    font-weight: bold;
}

.SextoNono {
    margin-left: 30px;
    position: absolute;
    /*Ajuste do subtitulo da placa amarela*/
    margin-top: 30px;
}


.ensinoMedio {
    margin-left: 30px;
    position: absolute;
    /*Ajuste do titulo da placa verde*/
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.primeiroTerceiro {
    margin-left: 30px;
    position: absolute;
    /*Ajuste do subtitulo da placa verde*/
    margin-top: 30px;
}



.placaSenha {
    background-color: rgb(255, 191, 53);
    width: 70%;
    height: 200px;
    margin-left: 15%;
    border-radius: 10px;
    /*Estilo da placa da pagina de esqueceu a senha*/
    border: 7px solid aliceblue;
    margin-top: 300px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.senhaEsqueceu {
    margin-left: 20px;
    /*Ajuste do título da placa*/
}

.informeEmail {
    margin-left: 10px;
    /*Ajuste do subtítulo da placa*/
}

.email {
    margin-left: 10px;
    /*Ajuste da caixa de texto*/
    width: 85%;
}

.enviar {
    background-color: rgb(57, 137, 241);
    border-radius: 30px;
    color: aliceblue;
    width: 50%;
    /*Botão de enviar o email para recuperação da senha*/
    height: 30px;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bodyBemvindo {
    background-color: rgb(68, 144, 206);
}

.azulEscuro {
    background-color: #023859;
    width: 100%;
    height: 60px;
}

.p1Bemvindo {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 22px;
    font-family: arial;
    color: white;
}

.p2Bemvindo {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 70px;
    font-family: arial;
    color: white;
}

.p3Bemvindo {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
    font-family: arial;
    color: white;
}

#ta {
    margin-top: 20%;
}

.p4Bemvindo {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
    font-family: arial;
    color: white;
}

#ta {
    margin-top: 20%;
}

.bodyBemvindo,
.bodyEnsinoMedio,
.bodypaginajogo1 {
    background-color: #f5f5f5;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 100px;
}

.flex {
    display: flex;
}

.tituloBemvindo {
    color: #23485e;
    font-family: arial;
    font-size: 60px;
    text-align: center;
}

.tituloEptran2 {
    color: #23485e;
    font-family: arial;
    font-size: 60px;
    text-align: center;
    margin-right: 25px;
}

.img {
    width: 24%;
    height: 150px;
}

.img2 {
    width: 24%;
    height: 150px;
    margin-left: 30px;
}

.text {
    width: 300px;
    height: 200px;
    text-align: center;
    margin-top: 80px;
    margin-left: 45px;
}

.centro {
    align-items: center;
    text-align: center;
    align-content: center;
}

.centro2 {
    align-items: center;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 250px;
}

.placaBicicleta {
    width: 20%;
    height: 200px;
    transform: rotate(10deg);
    margin-left: -20px;
}

.raposo {
    width: 60%;
    transform: rotate(0deg);
    /* a*/
    margin-top: 20px;
}

.estrada2 {
    width: 800px;
    margin-top: -90px;
}

.cone {
    width: 30%;
    margin-left: 260px;
    margin-top: -200px;
}


.box {
    margin-top: 40px;
    margin-left: 10px;
}

.caixaImagem {
    margin-top: 50px;
}

.botaoRedondo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: a0d5fb;
    border: 5px solid black;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-top: 100px;
}

.img3 {
    width: 84%;
}

.estrada {
    width: 800px;
    position: fixed;
}

.paginaCadastro {
    text-align: center;
    font-family: 'Cambria';
    margin-top: 40px;
    font-size: x-large;
    color: #023859;
}

/* Deixar título alinhado no meio da página*/

.nomeCadastro,
.emailCadastro,
.senhaCadastro,
.telefoneCadastro,
.enderecoCadastro,
.generoCadastro,
.dataNascimentoCadastro {
    display: flex;
    margin-left: 30px;
    font-family: arial;
    color: #023859;
}

/*Adionar as divs no mesmo css*/

.primeiroNomeCadastro {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 15px;
    width: 90px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
    border-radius: 20px;
}

.sobrenomeCadastro {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    width: 90px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.caixaEmailCadastro {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 15px;
    width: 160px;
    height: auto;
}

.caixaSenhaCadastro {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 15px;
    width: 160px;
    height: auto;
}


.caixaTelefoneCadastro {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 225px;
    height: auto;
}

.codigoTelefoneCadastro {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 15px;
    width: 40px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.numeroTelefoneCadastro {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    width: 120px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.caixaEnderecoCadastro {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 15px;
    width: 120px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.caixaGeneroCadastro {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 135px;
    height: auto;
}

.dia,
.mes,
.ano {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 15px;
    width: 30px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.criarConta {
    margin-top: 70px;
    background-color: #023859;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    color: white;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 4px 6p rgba(0, 0, 0, 0.1);
}

.criarConta:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.6);
}


.logoPrefeitura img {
    margin-top: 100px;
    width: 70px;
}

.joinvas {
    width: 20%;
    
}


.logoPrefeitura img {
    margin-top: 100px;
    width: 70px;
}

.p1EnsinoMedio {
    font-family: Arial;
    font-size: 16px;
    margin-left: 40px;
    color: white;
}

.logoPrefeituraEnsinoMedio {
    width: 20%;
}

.h2EnsinoMedio {
    margin-top: 70px;
    font-family: cambria;
    color: #023859;
}

.p2EnsinoMedio {
    font-family: arial;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #023859;
} /* */