.entrar{
    background-color: rgb(8, 185, 8);
    color: aliceblue;
    border-radius: 30px;
    border: 10px solid aliceblue;
}

.paginaEntrar{
    background-color: rgb(138, 196, 247);
}

.tituloDaPagina{
    background-color: rgb(181, 214, 243);
    width: 100%;
}

.bodyBemvindo{
    background-color: rgb(68, 144, 206);
}

.azulclaro{
    background-color: rgb(61, 105, 226);
}

.titulo{
    color: rgb(1, 88, 189);
}

.tituloeptran{
    color: rgb(1, 88, 189);
}