.entrar{
    background-color: rgb(8, 185, 8);
    color: aliceblue;
    border-radius: 30px;
    border: 10px solid aliceblue;
}

.paginaEntrar{
    background-color: rgb(138, 196, 247);
}

.tituloDaPagina{
    background-color: rgb(181, 214, 243);
    width: 100%;
}

.bodyBemvindo{
    background-color: rgb(68, 144, 206);
}

.azulclaro{
    background-color: rgb(61, 105, 226);
}

.titulo{
    color: rgb(1, 88, 189);
}

.tituloeptran{
    color: rgb(1, 88, 189);
}

.paginaCadastro{
    text-align: center;
    font-family: 'Cambria';
    margin-top: 40px;
    font-size: x-large;
}

.nomeCadastro, .emailCadastro, .senhaCadastro, .escolaridadeCadastro, .telefoneCadastro, .enderecoCadastro, .generoCadastro, .dataNascimentoCadastro{
    display: flex;
    margin-left: 30px;
    font-family: arial;
    }
    
.primeiroNomeCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 15px;
    width: 90px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.sobrenomeCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    width: 90px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.caixaEmailCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 15px;
    width: 160px;
    height: auto;
}

.caixaSenhaCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 15px;
    width: 160px;
    height: auto;
}

.caixaEscolaridadeCadastro{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 225px;
    height: auto;
}

.caixaTelefoneCadastro{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 225px;
    height: auto;
}
.codigoTelefoneCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 15px;
    width: 40px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.numeroTelefoneCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    width: 120px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}
.caixaEnderecoCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 15px;
    width: 120px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.caixaGeneroCadastro{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 135px;
    height: auto;
}

.dia, .mes, .ano{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 15px;
    width: 30px;
    height: auto;
    color: rgb(173, 172, 172);
    font-family: arial;
    font-size: small;
}

.criarConta{
    text-align: center;
}