.tituloSuporte {
    font-family: cambria;
    text-align: center;
    font-size: x-large;
    color: white;
    margin-top: 30px;
}

.suporte {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #023859;
    width: 50%;
    height: 50%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
}

.nomeSuporte,
.emailSuporte,
.mensagemSuporte {
    text-align: center;
    margin-top: 15px;
}

.caixaNomeSuporte,
.caixaEmailSuporte {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 180px;
    height: 30px;
    padding-left: 10px;
    background-color: white;
    color: #023859;
    border: none;
}

.caixaNomeSuporte::placeholder {
    color: #023859;
}

.caixaEmailSuporte::placeholder {
    color: #023859;
}

.caixaMensagemSuporte {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 180px;
    height: 200px;
    background-color: white;
    color: #023859;
    resize: none;
    font-family: arial;
    border: none;
}

.caixaMensagemSuporte::placeholder {
    color: #023859;
}

.mensagemSuporte textarea {
    padding-top: 10px;
    padding-left: 10px;
}

.enviarSuporte {
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-width: 1px;
    border: none;
    background-color: white;
    color: #023859;
    width: 80px;
    height: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 4px 6p white;
}

.enviarSuporte:hover {
    box-shadow: 0px 4px 12px white;
}

.voltarPaginaSuporte {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 160px;
    height: 60px;
    font-size: x-large;
    border: none;
    background-color: #023859;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 4px 6p #023859;
}

.voltarPaginaSuporte:hover {
    box-shadow: 0px 4px 12px #023859;
}